In [14]:
pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 351.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
conn = create_engine("postgresql://postgres:password123@localhost:5432/etl_db")

In [23]:
tables_query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"

tables = pd.read_sql(query, conn)
tables

          table_name
0  amazon_sales_data

In [26]:
query = "SELECT * FROM amazon_sales_data;"
main_df = pd.read_sql(query, conn)
main_df

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
0,Aahwan Women's & Girls' Solid Basic Super Crop...,women's clothing,Western Wear,https://m.media-amazon.com/images/I/61Ou9rolop...,https://www.amazon.in/Aahwan-Cropped-Without-W...,None,None,₹399,₹999,
1,Fabme Unisex's Cold Weather Headband (PO2-ACC0...,sports & fitness,"All Sports, Fitness & Outdoors",https://m.media-amazon.com/images/I/81LVOS343V...,https://www.amazon.in/Fabme-Unisexs-Headband-P...,5,1,₹265,₹999,1110.0
2,Men's Fashion Sneakers Lace-Up Trainers Basket...,men's shoes,Casual Shoes,https://m.media-amazon.com/images/I/71sCueaM0-...,https://www.amazon.in/Fashion-Sneakers-Lace-Up...,None,None,,,
3,HISTORICAL INDIA - Gwalior Collection - ½ Anna...,women's clothing,Clothing,https://m.media-amazon.com/images/I/91N6W7gYl3...,https://www.amazon.in/HISTORICAL-INDIA-Gwalior...,4.4,40,₹670,"₹1,500",
4,Sonata Act Safety Watch Analog White Dial Wome...,accessories,Watches,https://m.media-amazon.com/images/I/81sf24RFnD...,https://www.amazon.in/Sonata-Safety-Analog-Wom...,3,22,,"₹3,040",
...,...,...,...,...,...,...,...,...,...,...
100887,LORENZ Analogue Black Dial Men's Watch -Combo ...,stores,Men's Fashion,https://m.media-amazon.com/images/I/71BEdDAGaI...,https://www.amazon.in/Lorenz-MK-4849A-Combo-Bl...,3.5,40,₹319,"₹1,999",7707.0
100888,Campus Men's Rampage Running Shoes,men's shoes,Sports Shoes,https://m.media-amazon.com/images/I/71cVJlYVkA...,https://www.amazon.in/Campus-Rampage-R-Slate-R...,4,31,"₹1,949","₹2,799",
100889,Sri Jagdamba Pearls 22KT Yellow Gold Chain for...,accessories,Gold & Diamond Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Sri-jagdamaba-pearls-Yel...,None,None,"₹1,46,905","₹1,60,260",
100890,mitushi products Boys One Piece Swimsuit,kids' fashion,Kids' Fashion,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/mitushi-products-Shorts-...,4.1,143,₹400,₹450,
100891,Gold Look Women's Maid Roleplay Costume with H...,women's clothing,Lingerie & Nightwear,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Gold-Look-Womens-Rolepla...,4,1,₹499,"₹1,299",15896.0

In [39]:
main_df.isnull().sum()

name                0
main_category       0
sub_category        0
image               0
link                0
ratings           262
no_of_ratings     262
discount_price      0
actual_price        0
Unnamed: 0          0
dtype: int64