In [31]:
pip install psycopg2-binary beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in /home/jeisa/.local/lib/python3.10/site-packages (2.9.9)
Requirement already satisfied: beautifulsoup4 in /home/jeisa/.local/lib/python3.10/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /home/jeisa/.local/lib/python3.10/site-packages (from beautifulsoup4) (2.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
pd.set_option('display.max_colwidth', None)

In [28]:
conn = create_engine("postgresql://postgres:password123@localhost:5432/etl_db")

In [29]:
tables_query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"

tables = pd.read_sql(tables_query, conn)
tables

          table_name
0  amazon_sales_data

In [12]:
query = "SELECT * FROM amazon_sales_data;"
main_df = pd.read_sql(query, conn)

In [25]:
main_df.duplicated().sum()

np.int64(860)

In [14]:
# Convert 'ratings' dtype into float64 and 'no_of_ratings' to int64
main_df['ratings'] = pd.to_numeric(main_df['ratings'], errors='coerce')
main_df['no_of_ratings'] = pd.to_numeric(main_df['no_of_ratings'], errors='coerce').fillna(0).astype(int)

# Fill NA 'ratings' with it's median
ratings_median = main_df['ratings'].median()
df_filled = main_df.fillna({'ratings': ratings_median})

In [24]:
df_filled.duplicated().mean()

np.float64(0.05371089878285692)

In [26]:
def convert_price(price):
    cleaned_price = price.replace('â‚¹', '').strip()
    return pd.to_numeric(cleaned_price, errors='coerce')

df_filled['actual_price'] = df_filled['actual_price'].apply(convert_price)
df_filled['discount_price'] = df_filled['discount_price'].apply(convert_price)

actual_price_median = df_filled['actual_price'].median()
discount_price_median = df_filled['discount_price'].median()

df_filled.fillna({'discount_price': discount_price_median, 'actual_price': actual_price_median}, inplace=True)

In [23]:
df_filled.drop(columns=['Unnamed: 0'], inplace=True)

In [27]:
df_filled.duplicated().mean() * 100

np.float64(5.371089878285692)

In [32]:
import requests
from bs4 import BeautifulSoup

In [44]:
url = "https://www.bbc.com/sport"

response = requests.get(url)
response

if response.status_code == 200:
    soup = BeautifulSoup(response.content, 'html.parser')